*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;

    
}
body{
    width: 100%;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    /* background-color: aqua; */
}

.top-section{
    height: 13vh;
    align-items: center;
    background-color: #deb887;
    display: flex;
    padding: 10px;
    position: relative;

}
.top-content{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.contact-info{
    color: #181b31;
    display: flex;
    width: 100%;
}
.social-media{
    color: #000;
    box-sizing: content-box; 
    gap: 10px;
    margin-bottom: inherit; 
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
}
.div-box-icon{
    color: black;
    size-adjust: initial;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    height: 35px;
    justify-content: space-between;
    margin:5px;
    padding-left: 9px;
    width: 35px;
    /* margin-block-end: 20px; */
}
.get-free-btn button{
    height: 10vh;
    width: 10vw;
    margin-top: 5px;
    font-size: 24px;

}
button{
    text-align: center;
    font-size: medium;
    text-decoration: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    height: 12vh;
    width: 10vw;
    border-radius: 5px;
    margin-right: 2px;
}
.get-free-btn {
    font-size: 16px;
}
/* navbar-start */
.navbar{
    align-items: center;
    display: flex;
}
.navbar-logo{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.img1{
    margin-left: 50px;
    height: 75px;
    padding-bottom: 20px;
    width: 200px;
    margin-top: 10px;

}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    margin-right: 2rem;
    text-align: center;
    width: 70vw;
    padding-top: 10px;
}
.nav-items ul{
    color: #000;
    margin-top: 0;
    margin-bottom: 1rem;
}
ul{
    padding-left: 2rem;
}
.nav-item {
    align-items: center;
    display: flex;
    height: 10vh;
}
.nav-item a{
    color: #000;
}
.full-main-page{
    width: 100vw;
}
.slider-container img{
    /* height: 40vh; */
    /* background-image: url(https://res.cloudinary.com/dofzu13gt/image/upload/v1695464341/marvin-meyer-SYTO3xs06fU-unsplash_gvg3sw.jpg); */
height:50vh;
width: 100%;
padding-left:0 7000px;
box-shadow: 0 10px 30px rgba(0,0,0, .07);
/* margin-top: 0; */
}
.carousel-root{
    outline: none;
}
carousel.carousel-slider{
    margin: 0;
    overflow: hidden;
    position: relative;
}
.carrousel .control-dots{
    bottom: 0;
    margin: 10px 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.carousel *{
    box-sizing: border-box;

}



.offer-main{
    margin-top: 20px;
    height: 110vh;
    width: 100%;
    background-image :url(
        https://res.cloudinary.com/dofzu13gt/image/upload/v1695645860/cta-bg-img.39434724a310b9e24e6c_q9nrly.jpg
    );
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 5vh 5vw;
    display: block;
    align-items: flex-start;
    margin-top: 20px;
    /* margin-right: 20px; */
    text-align: left;
}
.offer{
    gap: 10px;

}
.offer-text1{
    color:#000;
    font-size: 10px;
    gap: 10px;
    line-height: 2rem;
    font-weight: 600;
}
.offer-text2{
    margin-bottom: 10px;
    margin-top: 20px;
    gap: 3px;
    line-height:1.5;
}
.offer  button{
    background-color:pink ;
    height:8vh;
    width: 12vw;
}
.offer-text2{
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-name:initial;
    animation-direction: normal;
    animation-iteration-count: 1;
}
.offer-para {
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-delay: 0ms;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    color: #556b2f;
    font-size: 15px;
    margin-top: 15px;
    width: 350px;
}
.tree-con img{
    margin-top: 10px;
    /* margin-bottom: 10px; */
    height: 50vh;
    width: 40vw;
    margin-top: 20px;
    margin-right:50px;

}

/* services */
.services{
    /* background-color: #333; */
    /* align-items: center; */
    background-color: #f7f7f7;
    width: 100vw;
    height: 130vh;
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
    /* padding: 10px 0; */
    position: relative;
    text-align: center;
    /* z-index: 2; */
    margin-top: 20px;
    margin-right: 200px;

}
.services-head{
    width: 100%;
    margin-top: 20px;
    color: #333;
    font-size: 45px;
    margin-top: 30px;
    height: 5vh;
}
.services-cards img{
    /* height: 250px; */
    box-sizing: border-box;
    
}
.web-icon{
    height: 100px;
    width: 100px;
}
.services-cards{

    background-color: #f7f7f7;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
    height: 30px;
    width: 100%;

}

.services-card::before{
    margin-top: 10px;
    background-image: url(https://res.cloudinary.com/dofzu13gt/image/upload/v1696865197/shadow.62db8ea…_kjselc.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    height: 100%;
    left: -20%;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 90%;
    -webkit-transform-origin: 30% 50%;
    transform-origin: 30% 50%;
    transition: all .4s ease-out;
    width: 100%;
    z-index: 1;
    /* background-color: #f7f7f7; */
}
.service-content img{
    /* margin-top: 4px; */
    padding: 5px 0;
}

.services-card{

    box-shadow: #181b31;
    border: 1px solid black;
    border-radius: 20px;
    cursor:pointer ;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 40vh;
    width: 24vw;
    padding: 20px;
    margin-top: 60px;
    
}
.services-card button{
    background-color: #f8198d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color .3s ease-in-out;
    height: 7vh;
    margin-top: 1%;
}


.widget-item{
    align-items: center;
    height: 50vh;
    display: flex;
}
.logo img{
    margin-top: 30px;
}
.widget-title{
    /* box-sizing: border-box; */
    /* border-radius: 4px; */
    /* color: #f8198d; */
    background-color: #deb887;
    width: 20vh;
    align-items: center;
    margin-left: 50px;
    padding: 10px 10px;
    row-gap: 5px;
}
.widget-btn {
    background-color: #f8198d;
    height: 8vh;
    row-gap: 6px;
}
.widget-h3{
    margin-bottom: 10px;
}

/* delivery-section */
.our-stats{
    background-color: #f7f7f7;
    display: flex;
    flex-direction:column;
    padding: 50px 0;

}
.delivery-para{
    align-items: center;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    width: 100%;
    line-gap-override: 3px;
    color: #333;
}
.delivery-text h2{
    gap: 8px;

    line-gap-override: 3px;
}
.rows{
    display: flex;
    gap: 40px;
    box-sizing: border-box;
    /* border: 2px solid red; */
    height: 30vh;
    width: 100%;
    justify-content: center;
    
}
.row-part{
    gap: 40px;
    height: 30vh;
    width: 20vw;
    border: 1px ;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, .2);
    padding: 20PX;

}
.para{
    align-items: center;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
    line-gap-override: 3px;
    color: #333;
}


.work-h2{
    color: #333;
    margin-bottom: 27px;
}
.step-container{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    border: 2px ;
    /* border-radius: 4px; */
    /* height: 20vh; */
    width: 100vw;
    justify-content:baseline;
    /* margin-left: 30px; */
    /* padding-left: 10px; */
    background-color: #fff;
    /* box-shadow: 0 0 10px rgb(0, 0, .2); */
    /* padding: 20px; */
    gap: 50px;
}
.card:first-child{
    height: 37vh;
    width: 20vw;
    border: 2px solid rgba(221, 210, 210, 0.89);
    /* margin-left: 30px; */
    box-shadow: 0 0 10px rgb(0, 0, .2); 
    border-radius: 4px;
    gap: 60px;
    
}
.card img{
    display: flex;
    justify-content: center;
    align-items: center;
    height:30vh;
    width: 20vw;
}
.card-text:first-child img{
    /* margin-top: 1px; */
    /* padding: 10px 0; */
    padding-left: 60px;
    height: 25vh;
    width: 12vw;
    text-align: center;
    align-items: center;
    padding-bottom: 2px;
}
.card-text h2{
    text-align: center;
}
.card-text2 img{
    height: 20vh;
    width: 12vw;
    align-items: center;
    margin-top: 40px;
    padding: 10px 8px;
    margin-left: 20px;
}

.card-text3{
    height: 37vh;
    width: 20vw;
    border: 2px solid rgba(221, 210, 210, 0.89);
    /* margin-left: 30px; */
    box-shadow: 0 0 10px rgb(0, 0, .2); 
    border-radius: 4px;
    margin-left: 50px ;

}
.card-text3 img{
    height: 17vh;
    width: 8vw;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px 10px;
    margin-left: 70px ;
}
.card-text3 h2{
    margin-top: 10px;
    align-items:center;
    text-align: center;
}
.card-text4 img{
    height: 20vh;
    width: 12vw;
    align-items: center;
    margin-top: 50px;
    padding: 10px 8px;
    margin-left: 90px;

}
.card-text5{
    height: 37vh;
    width: 20vw;
    border: 2px solid rgba(221, 210, 210, 0.89);
    /* margin-left: 30px; */
    box-shadow: 0 0 10px rgb(0, 0, .2); 
    border-radius: 4px;
    /* margin-left: 30px ; */

}
.card-text5 img{
    height: 20vh;
    width: 12vw;
    align-items: center;
    margin-top: 10px;
    padding: 10px 8px;
    margin-left: 20px;

}
.trust-sec{
    margin-top: 5px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}
.logos img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    width: 14vw;
    text-align: center;
    height: 6vh;
    margin-top: 30px;
}
.logos{
    display: flex;
    justify-content: center;
    gap: 35px;
}
.faw-container{
    align-items: center;
    box-shadow: 0 4px 6px hsla(0, 0%, 100%, .5);
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
    width: 100%;
}
.faq-heading{
    font-size: 24px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 30px;

}
.faq-item{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    transition: all .3s ease;
    width: 100vw;
}
.faq-question{
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.get-container{
    margin-top: 30px;
    display: flex;
    /* justify-content: center; */
    position: relative;
    padding: 2rem 0px;
    max-width: 1280px;
    /* margin: 0px auto; */
    justify-content: space-between;
    gap: 100px;
}
.get-a h2{
    size: 100;
    margin-top: 1px;
    margin-bottom: .5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #333;
    text-align: start;
}
.get-a h4{
    color: #333;
    margin-top: 10px;
    /* line-height: 3px; */
    /* row-gap: 2px; */
    font-weight: 600;
    text-align: start;

}
.get-a{
    margin-right: 70px;
    text-align: start;

}
.contact{
    color: #333;
    /* margin-top: 20px; */

}
.contact-us{
    margin-top: 30px;

}
.mobile{
    margin-top: 20px;
}
.get-item{
    box-sizing: border-box;
    /* border: 2px solid red */
    height: 8vh;
    width: 50vw;
    gap: 40px;
    line-height: 1.5rem;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    margin-bottom: 10px;
    padding: 10px;
    transition: all .3s ease;
}
.get-text{
    text-align: start;
    font-size: medium;
    margin-bottom:30px;
}
.submit-btn{
    width: 10rem;
    height: 2.8rem;
    margin-top: 20px;
    background-color: rgb(1, 190, 150);
    border: none;
    border-radius: 5px;
    filter: drop-shadow(rgba(1, 190, 149, 0.318) 0px 4px 5px);
    cursor: pointer;
    /* margin-left: 50px; */
}

.testimonial-container{
    margin: 20px;
    /* background-color: #556b2f; */
}
.testimonial-container h4{
    color: #333;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 5px;
    text-decoration: none;
}
.feedback p{
    text-align: center;
    font-size: 24px;

}
.review-sec{
    box-sizing: border-box;
    border: 2px solid rgba(221, 210, 210, 0.89);
    /* margin-left: 30px; */
    box-shadow: 0 0 10px rgb(0, 0, .2); 
    height: 70vh;
    width: 60vw;
    margin-top: 45px;
}
.photo img{
    height:35vh ;
    width: 30vh;
    margin-top: 20px;
    margin-bottom: 20px;

}
.photo-text{
    color: #333;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
}
.name{
    margin-top: 20px;
    color: #333;
    /* font-weight: 700; */
    font-size: 24px;

}
.sd{
    margin-top: 20px;
    font-size: 12px;
}

/* footer start */

.footer-main{
    background-color: #deb887;
    height: 60vh;
    width: 100%;
}
.footer-sec{
    display: flex;
    flex-direction: row;
    gap: 100px;
    height: 50vh;
    justify-content: flex-start;
    width: 100%;

}
.m-cube {
    /* margin-left: 50px; */
    height: 75px;
    padding-bottom: 20px;
    width: 200px;
    margin-top: 10px;
}
.cube-h{
    color: #000;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 20px;
}
.cube-ho {
    margin-top: 40px;
    font-size: 24px;
    margin-left: 15px;
}
.navbar-logo1{
    color: #fff;
    font-size: 2rem;
    justify-content: space-between;
    text-decoration: none;
    width: 10rem;
}
.navbar-logo1 img{
    height: 18vh;
    /* padding-bottom: 20px; */
    width: 15vw;
    margin-right: 90px;
    margin-top: -10px;
    
}
.qlinks{
    /* display: flex; */
    /* flex-direction: row; */
    margin-top: 10px;
    row-gap: 10px;

}
.cube-p{
    font-size: 14px;
    font-weight: 600;
    margin-left: 40px;
    margin-top: -40px;
}
.image-con-foot{
    margin-top: 15px;
    gap: 0.5rem;
    display: flex;
    justify-content: flex-start;

}
.face-foot{
    height: 30px;
    margin-left: 20px;
    width: 30px;
}
.sms-foot{
    height: 30px;
    width: 30px;
    margin-top: 20px;
    /* gap: 2rem; */

}
/* .foot-contact{
    display: flex;
    justify-content: baseline;
} */
.sms-foot-con{
    display: flex;
    gap: 10px;
    margin-top: 4px;
    align-items: center;
    margin-right: 1px;
}
ul{
    list-style:none;
    text-decoration: none;
    padding-left: 2rem;
    line-height: 25px;
    margin-top: 20px;
}
hr{
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}
.headq{
    width: 30vw;
}
.q-heading{
    display: flex;
}
.q-address{
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
    line-height: 2rem;
}
.location-logo img{
    /* display: flex; */
    justify-content: center;
    height: 30px;
    width: 30px;
    margin-right: 90px;
}
.location-text {
    text-align: center;
    margin-top: -30px;
    margin-left: 30px;

}
.call{
    display: flex;
    margin-top: 10px;
}
.call-img img{
    height: 30px ;
    width: 30px;
    margin-left: -160px;
}

.mobile{
    text-align: center;
    margin-top: -30px;
    margin-left: 90px;

}

.copyright-main{
    background-color: #181b31;
    height: 16vh;
    width: 100%;
    margin-top: 3rem;
}
.copy-text {
    color: #fff;
    text-align: center;
    /* margin-top: 5rem; */
    padding: 40px;
}




